.pageRoot {
  width: 100%;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  margin: 0 auto;
  padding: 0rem;
  box-sizing: border-box;
}

.ctaWrap {
  display: flex;
  justify-content: center;
}

.hero {
  width: 100%;
  height: 35rem;
  min-height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}
