version: '3.8'

services:
  backend:
    build: ./backend
    container_name: ebentos-backend
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://98.90.237.200:3306/ebentos
      SPRING_DATASOURCE_USERNAME: ebentos
      SPRING_DATASOURCE_PASSWORD: losdibujitos
    ports:
      - "8080:8080"
    depends_on: []
    restart: always

  frontend:
    build: ./frontend
    container_name: ebentos-frontend
    environment:
      VITE_API_URL: http://localhost:8080
    ports:
      - "5173:5173"
    restart: always
