.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.loader span {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background: #0f62fe;
  border-radius: 50%;
  animation: bounce 1s infinite ease-in-out;
}

.loader span:nth-child(2) {
  animation-delay: 0.2s;
}
.loader span:nth-child(3) {
  animation-delay: 0.4s;
}
.loader span:nth-child(4) {
  animation-delay: 0.6s;
}
.loader span:nth-child(5) {
  animation-delay: 0.8s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.cds--tooltip-content,
.cds--popover-content {
  display: none !important;
  visibility: hidden !important;
  pointer-events: none !important;
}