
/* Área principal donde está el título y la lista */
.app-main {
  padding: 1.25rem;
  overflow-y: auto;
  max-height: 100vh;
  box-sizing: border-box;
  transition: margin-left 0.3s ease;
}

/* Cuando el sidebar está oculto */
.app-container.sidebar-hidden .app-main {
  width: 100%;
}

/* Cuando el sidebar está visible (por defecto) */
.app-container.sidebar-visible .app-main {
  width: calc(100vw - 15rem);
}

/* En móvil, ignora el margen */
@media (max-width: 768px) {
  .app-container.sidebar-visible .app-main {
    margin-left: 0;
  }
}


.app-main {
  padding: 2rem;        /* Equivale a p-8 */
  margin-left: 15rem;   /* Equivale a ml-64 */
  box-sizing: border-box;
  width: 100lvw/* Ajusta el ancho para considerar la barra lateral */
}
