.app-container {
  display: flex;
  min-height: 100vh;
  background-color: #f3f4f6;
  font-family: 'Sarabun', sans-serif;
}

.app-main {
  padding: 2rem;        /* Equivale a p-8 */
  margin-left: 15rem;   /* Equivale a ml-64 */
  box-sizing: border-box;
  width: calc(100vw - 15rem); /* Ajusta el ancho para considerar la barra lateral */
}

.title{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color:black;
}