.reporte-container {
  display: flex;
  height: 100vh;
}

.content {
  margin-left: 250px; /* ajusta según el ancho del sidebar */
  padding: 2rem;
}

.page-title {
  color: var(--Primary-500, #165DF6);
  font-family: 'Sarabun', sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 500; /* medio */
  line-height: normal;
  margin-bottom: 2rem; /* espacio debajo del título */
}

/* Solo resalta la palabra "Locales" */
.page-title .highlight {
  font-weight: 700; /* más grueso */
  color: var(--Primary-500, #165DF6);
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 300px; /* asegura que haya espacio para el gráfico */
  max-height: 600px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.chart-item {
  flex: 1 1 450px; /* se ajusta automáticamente */
  background: white;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  max-width: 100%;
  height: 450px;
  overflow: hidden;
}

.chart-item svg {
  width: 100% !important;
  height: 100% !important;
}